{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h2>Iniciar sesión</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br>
            <form method="post">
                {% csrf_token %}
                
                <label for="tipo_identificacion">Tipo de Identificación</label>
                {{form.tipo_identificacion}}
                </select>
            
                <label for="numero_identificacion">Número de Identificación</label>
                <input type="text" id="numero_id" name="numero_id">
            
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" id="fecha_nac" name="fecha_nac">
            

                <button type="submit">Iniciar Sesion</button>

                {% if messages %}
                <div class="alert">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </form>
        </div>
        <div class="image-placeholder">
            <img src="{% static 'img/logo.png' %}" class="eps" width="100%" height="100%">
        </div>
    </div>
</body>
</html>
