<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Observaciones Médicas</title>
  {% load static %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles_admin.css' %}">
</head>
<body>

<nav class="sidebar">
  <a class="navbar-brand text-center d-block" href="{% url 'panel' %}">Add Observacion</a>
  <div class="nav flex-column text-center">
    <a class="nav-link" href="#">Inicio</a>
    <a class="nav-link" href="#">Observaciones</a>
    <a class="nav-link" href="#">Reportes</a>
    <a class="nav-link" href="#">Configuración</a>
    <a class="nav-link" href="#">Pacientes</a>
  </div>
</nav>

<div class="content">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1>Observaciones</h1>
    </div>
    <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Fecha de Orden</th>
                    <th>Documento de Orden</th>
                    <th>Número de Orden</th>
                    <th>Paciente</th>
                    <th>Profesional</th>
                </tr>
            </thead>
            <tbody>
                {% for observacion in observaciones %}
                <tr>
                    <td>{{ observaciones.fecha_orden }}</td>
                    <td>{{ observaciones.documento_orden }}</td>
                    <td>{{ observaciones.numero_orden }}</td>
                    <td>{{ observaciones.paciente.nombre1 }} {{ observacion.paciente.apellido1 }}</td>
                    <td>{{ observaciones.profesional.nombre }} {{ observacion.profesional.apellido }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No hay observaciones disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="card-body">
      
    </div>
  </div>
</div>

<footer>
  <p>Panel de Administración de Observaciones Médicas &copy; 2024</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>